
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}
h1 {
  font-size: 5em;
  margin: 0;
}
p {
  font-size: 1.5em;
}
#clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#clock {
    font-size: 48px;
    color: lime;
    font-family: monospace;
    margin-bottom: 10px;
}

#adjustBtn,
#time-buttons button {
    font-size: 14px;
    margin: 4px;
    padding: 4px 10px;
    cursor: pointer;
}
