
body {
    margin: 0;
    background-color: #111;
    color: white;
    font-family: monospace;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock-container {
    text-align: center;
}
#note {
    font-size: 20px;
    margin-top: 20px;
    color: orange;
}
